@model Kid.English.Phrases.Dto.PhraseDto

@{
    ViewBag.Title =L("EditAPhrase");
}


    @*<h4>@L("EditAPhrase")</h4>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //隐藏域,用于搜索关键字及页码
        string chineseKeyWords = ViewBag.chineseKeyWords;
        string englishKeyWords = ViewBag.englishKeyWords;
        int pageIndex = ViewBag.pageIndex;
        @Html.Hidden("chineseKeyWords", chineseKeyWords);
        @Html.Hidden("englishKeyWords", englishKeyWords);
        @Html.Hidden("pageIndex", pageIndex);

        <div class="form-horizontal">

      
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.SentenceHtml, L("SampleSentence"), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <script id="uediotr" type="text/plain" style="width:100%">
                    </script>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChineseMean, L("ChineseMean"), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChineseMean, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChineseMean, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10  col-sm-offset-2 col-sm-10">
                    <input type="submit" value='@L("Save")' class="btn btn-primary"  style="width:100%"  />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(L("BackToPraseList"), "Index", "Phrases", new
   {
       englishKeyWords = ViewBag.englishKeyWords,
       chineseKeyWords = ViewBag.chineseKeyWords,
       pageIndex = ViewBag.pageIndex
   }, new { })
    </div>

@section Scripts {
    <script src="~/ueditor/ueditor.config.js"></script>
    <script src="~/ueditor/ueditor.all.min.js"></script>
    <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
        var ue = UE.getEditor('uediotr');
        ue.addListener("ready", function () {
            // editor准备好之后才可以使用
            ue.setContent("@Html.Raw(Model.SentenceHtml)");

            //ue.addListener("afterexeccommand", function (t, e, arg) {
            //    ue.focus(true);
            //    ue.execCommand("color", "black");
            //});
            ue.focus(); //编辑器加载完成后，让编辑器拿到焦点
        });
    </script>
}


